<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Manage downloads</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_t3download" >
	<tr>
		<th>ID</th>
		<th>Order</th>
		<th>Password</th>
		<th>Valid to</th>
		<th></th>
		<th></th>
	</tr>

	<f:for each="{downloadConfigurations}" as="downloadConfiguration">
		<tr>
			<td>{downloadConfiguration.uid}</td>
			<td>{downloadConfiguration.externalId}</td>
			<td>{downloadConfiguration.hash}</td>
			<td>{downloadConfiguration.validDate -> f:format.date(format:'d.m.Y H:i	')}</td>
			<td><a href="{settings.baseURL}{settings.downloadURL}{downloadConfiguration.hash}">Download Link</a></td>
			<td><f:link.action action="activate" arguments="{download : downloadConfiguration.hash}">Make valid</f:link.action></td>
		</tr>
	</f:for>
</table>
</f:section>